<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-fastrde-mqtt" version="0.9.8">
  <name>MQTT-Client</name>
  <author>Fabian Strachanski</author>
  <description>Cordova plugin to communicate via mqtt for ios and android</description>
  <license>MIT</license>
  <keywords>mqtt, iot, push, notification</keywords>
  <repo>https://github.com/fastrde/cordova-plugin-fastrde-mqtt.git</repo>
  <issue>https://github.com/fastrde/cordova-plugin-fastrde-mqtt/issues</issue>
	<dependency id="cordova-plugin-network-information" version="1.1.0" />
	<dependency id="cordova-sqlite-storage" version="0.7.14" />
  <js-module src="www/mqtt.js" name="mqtt">
    <clobbers target="mqtt" />
  </js-module>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MQTTPlugin">
        <param name="ios-package" value="CDVMQTTPlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/CDVMQTTPlugin.h" />
    <source-file src="src/ios/CDVMQTTPlugin.m" />

    <framework src="CFNetwork.framework" />
    <framework src="CoreData.framework" />
    <framework src="src/ios/Frameworks/MQTTClient.framework" custom="true" />
  </platform>

  <platform name="android">
    <source-file src="src/android/MQTTPlugin.java" target-dir="src/de/fastr/cordova/plugin" />
		<source-file src="src/android/paho/org.eclipse.paho.client.mqttv3-1.0.2.jar" target-dir="libs" framework="true" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MQTTPlugin">
        <param name="android-package" value="de.fastr.cordova.plugin.MQTTPlugin"/>
      </feature>
    </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
   	</config-file>
  </platform>
</plugin>
